body, html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #F1F5F8;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
}

.backdrop {
    display: none;
}

.backdrop.show {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2C343C;
    opacity: 0.3;
    z-index: 98;
}

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-blur {
    position: absolute;
    top: -100px;
    right: -200px;
}

.section-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -1px;
    color: #121212;
    margin: 0 auto 30px;
}

.section-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #121212;
    margin: 0 auto;
    max-width: 717px;
}

/* Navbar */

.navbar {
    padding: 30px 0 0;
}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar .navbar-nav {
    width: 100%;
    margin-left: 80px;
    justify-content: space-between;
}
.navbar .navbar-nav .nav-links-group {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-links-group .nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #303030;
    margin-right: 40px;
    padding: 0;
}
.navbar .navbar-nav .navbar-right {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .navbar-right .nav-item {
    margin-left: 40px;
}
.navbar .navbar-nav .navbar-right .lang-switch {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 3px;
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .navbar-right .lang-switch span {
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #005CAA;
    padding: 3px 7px;
}
.navbar .navbar-nav .navbar-right .lang-switch span.active {
    background: #005CAA;
    border-radius: 30px;
    color: #fff;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-light .navbar-toggler span {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #303030;
    margin-bottom: 5px;
}
.navbar-light .navbar-toggler span:last-child {
    margin-bottom: 0;
}

/* Hero */

.hero {
    margin-top: 20px;
}
.hero-left {
    padding-top: 60px;
}
.hero-left h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #005CAA;
    margin-bottom: 30px;
}
.hero-left h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 130%;
    letter-spacing: -1.75px;
    color: #121212;
    margin-bottom: 30px;
}
.hero-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #121212;
    margin-bottom: 40px;
}
.hero-left .btn-hero {
    background: #005CAA;
    border-radius: 2000px;
    width: 222px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.hero .hero-image {
    position: relative;
}
.hero .hero-image .primary {
    position: relative;
    z-index: 2;
    width: 100%;
}
.hero .hero-image .blur {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
}
.hero .hero-image .dots {
    position: absolute;
    top: 21px;
    right: -20px;
    z-index: 1;
}
.hero .hero-image .wave {
    position: absolute;
    left: -44px;
    bottom: 60px;
    z-index: 3;
}

/* Feature */

.feature {
    margin-top: 90px;
    position: relative;
}
.feature .rect-1 {
    position: absolute;
    top: -14px;
    left: 90px;
    z-index: 1;
}
.feature .rect-2 {
    position: absolute;
    top: 100px;
    right: 138px;
    z-index: 1;
}
.feature .dots {
    position: absolute;
    right: 60px;
    bottom: -80px;
    z-index: 1;
}
.feature .wave {
    position: absolute;
    left: 320px;
    bottom: -80px;
    z-index: 1;
}
.feature .container {
    position: relative;
    z-index: 2;
}
.feature .section-subtitle {
    max-width: 680px;
}
.feature .row-feature {
    margin-top: 145px;
    margin-left: -20px;
    margin-right: -20px;
}
.feature .row-feature .col-feature {
    padding-left: 20px;
    padding-right: 20px;
}
.feature .row-feature .card-feature {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 30px 100px rgba(57, 79, 136, 0.15);
    border-radius: 40px;
    padding: 75px 40px 50px;
}
.feature .row-feature .card-feature img {
    position: absolute;
    top: -70px;
    left: calc(50% - 77px);
}
.feature .row-feature .card-feature h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #121212;
    margin-bottom: 10px;
}
.feature .row-feature .card-feature p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #121212;
    opacity: 0.7;
    margin: 0;
}

/* Refundable */

.refundable {
    position: relative;
    margin-top: 110px;
    padding: 60px 0;
    min-height: 800px;
}
.refundable .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.refundable .eclipse {
    position: absolute;
    top: 102px;
    right: 154px;
    z-index: 1;
}
.refundable .wave {
    position: absolute;
    top: 231px;
    left: -63px;
    z-index: 1;
}
.refundable .container {
    position: relative;
    z-index: 2;
}
.refundable .dropdown-refundable {
    display: none;
}
.refundable .nav-tab-refundable {
    margin: 60px 0 40px;
    display: flex;
    justify-content: center;
}
.refundable .nav-tab-refundable .nav-tabs {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1000px;
    padding: 5px;
    height: 57px;
    max-width: 1020px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.refundable .nav-tab-refundable .nav-tabs .nav-link {
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.7;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.refundable .nav-tab-refundable .nav-tabs .nav-link.active {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(57, 79, 136, 0.1);
    border-radius: 1000px;
    opacity: 1;
    font-weight: 700;
}
.refundable .tab-refundable .tab-pane {
    position: relative;
    min-height: 400px;
}
.refundable .tab-refundable .tab-pane .tab-wave {
    position: absolute;
    right: 90px;
    bottom: 160px;
}
.refundable .tab-refundable .card-small-tab-1 {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 30px 100px rgba(57, 79, 136, 0.15);
    border-radius: 40px;
    width: 100%;
    max-width: 890px;
    margin: 20px auto;
}
.refundable .tab-refundable .card-small-tab-1 img {
    position: relative;
    display: block;
}
.refundable .tab-refundable .card-small-tab-1 img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(41.71deg, #005CAA 11.98%, #00B5F0 90.81%);
    box-shadow: 0px 15px 30px rgba(0, 92, 170, 0.25);
    border-radius: 1000px;
    display: block;
}
.refundable .tab-refundable .card-small-tab-1 .text {
    margin-left: 20px;
}
.refundable .tab-refundable .card-small-tab-1 .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #121212;
    margin-bottom: 10px;
}
.refundable .tab-refundable .card-small-tab-1 .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #121212;
    opacity: 0.7;
    margin: 0;
}
.refundable .tab-refundable .accordion-refundable-1 {
    max-width: 760px;
    margin: 0 auto;
}
.refundable .tab-refundable .accordion-refundable-2 {
    max-width: 1020px;
    margin: 0 auto;
}
.refundable .tab-refundable .accordion .card,
.need-help .accordion .card {
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 79, 136, 0.1);
    border-radius: 40px;
    /* padding: 20px 40px; */
    border: none;
    margin-bottom: 20px;
}
.refundable .tab-refundable .accordion .card:last-child,
.need-help .accordion .card:last-child {
    margin-bottom: 0;
}
.refundable .tab-refundable .accordion .card .card-header,
.need-help .accordion .card .card-header {
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    cursor: pointer;
}
.refundable .tab-refundable .accordion .card .card-header[aria-expanded="false"] .minus,
.refundable .tab-refundable .accordion .card .card-header[aria-expanded="true"] .plus,
.need-help .accordion .card .card-header[aria-expanded="false"] .minus,
.need-help .accordion .card .card-header[aria-expanded="true"] .plus,
.need-help .accordion-faq-inner .card .card-header[aria-expanded="false"] .minus,
.need-help .accordion-faq-inner .card .card-header[aria-expanded="true"] .plus {
    display: none;
}
.refundable .tab-refundable .accordion .card .card-header[aria-expanded="false"] .plus,
.refundable .tab-refundable .accordion .card .card-header[aria-expanded="true"] .minus,
.need-help .accordion .card .card-header[aria-expanded="false"] .plus,
.need-help .accordion .card .card-header[aria-expanded="true"] .minus,
.need-help .accordion-faq-inner .card .card-header[aria-expanded="false"] .plus,
.need-help .accordion-faq-inner .card .card-header[aria-expanded="true"] .minus {
    display: block;
}
.refundable .tab-refundable .accordion .card .card-header h2,
.need-help .accordion .card .card-header h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #121212;
}
.refundable .tab-refundable .accordion .card .card-body,
.need-help .accordion .card .card-body {
    padding: 0 40px 20px;
}
.refundable .tab-refundable .accordion-refundable-1 .card .card-body ol,
.need-help .accordion .card .card-body ul,
.need-help .accordion .card .card-body ol {
    padding-left: 20px;
    margin: 0;
}
.refundable .tab-refundable .accordion-refundable-1 .card .card-body ol li,
.need-help .accordion .card .card-body ul li,
.need-help .accordion .card .card-body p,
.need-help .accordion .card .card-body ol li {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #121212;
    opacity: 0.7;
    margin-bottom: 10px;
}
.refundable .tab-refundable .accordion-refundable-1 .card .card-body ol li:last-child,
.need-help .accordion .card .card-body ul li:last-child,
.need-help .accordion .card .card-body ol li:last-child {
    margin-bottom: 0;
}
.refundable .tab-refundable .accordion .card .card-body {
    overflow: auto;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya {
    width: 940px;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya thead tr th {
    background-color: #0293D5;
    color: #fff;
    border: none;
    border-color: #0293D5;
    border-spacing: 0px;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya thead tr th:first-child {
    border-radius: 15px 0 0 15px;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya thead tr th:last-child {
    border-radius: 0 15px 15px 0;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya thead tr {
    background-color: #0293D5;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya tr {
    background-color: #F7FAFC;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya tr th,
.refundable .tab-refundable .accordion .card .card-body .table-biaya tr td {
    border: none;
    padding: 15px;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya thead th {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #121212;
}
.refundable .tab-refundable .accordion .card .card-body .table-biaya tbody tr th,
.refundable .tab-refundable .accordion .card .card-body .table-biaya tbody tr td {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #121212;
    opacity: 0.7;
}
.refundable .tab-refundable .card-get-product {
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 79, 136, 0.1);
    border-radius: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    max-width: 760px;
    margin: 0 auto;
}
.refundable .tab-refundable .card-get-product .text {
    margin-left: 20px;
}
.refundable .tab-refundable .card-get-product .text h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #121212;
    margin-bottom: 10px;
}
.refundable .tab-refundable .card-get-product .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #121212;
    opacity: 0.7;
    margin: 0;
    max-width: 340px;
}
.refundable .tab-refundable .card-get-product .btn-get-product {
    background: #005CAA;
    border-radius: 2000px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 222px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
}

/* Help */

.need-help {
    position: relative;
    padding: 30px 0 70px;
}
.need-help .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 725px;
    z-index: 1;
}
.need-help .wave {
    position: absolute;
    top: 105px;
    right: 90px;
    z-index: 1;
}
.need-help .wave-2 {
    position: absolute;
    left: 47px;
    top: 470px;
}
.need-help .rect {
    position: absolute;
    top: 700px;
    right: 100px;
}
.need-help .container {
    position: relative;
    z-index: 2;
}
.need-help .accordion-faq {
    max-width: 890px;
    margin: 60px auto 20px;
}
.need-help .accordion-faq .card {
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 79, 136, 0.1);
    border-radius: 40px;
    padding: 0;
    max-width: 890px;
    margin: 0 auto 20px;
    display: flex;
    align-items: flex-start;  
}
.need-help .accordion-faq .card .btn-expand-faq {
    background: #005CAA;
    border-radius: 2000px;
    width: 226px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: auto;
}
.need-help .accordion-faq .card .btn-expand-faq[aria-expanded="true"] span.see,
.need-help .accordion-faq .card .btn-expand-faq[aria-expanded="false"] span.hide {
    display: none;
}
.need-help .accordion-faq .card .btn-expand-faq[aria-expanded="false"] span.see,
.need-help .accordion-faq .card .btn-expand-faq[aria-expanded="true"] span.hide {
    display: block;
}
.need-help .accordion-faq .card .card-header {
    width: 100%;
    padding: 30px;
}
.need-help .accordion-faq .card .card-header .left {
    display: flex;
    align-items: center;
}
.need-help .accordion-faq .card .card-header .left h2 {
    margin-left: 20px;
}
.need-help .card-need-help {
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 79, 136, 0.1);
    border-radius: 40px;
    padding: 30px;
    max-width: 890px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
}
.need-help .card-need-help h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #121212;
    margin: 0 0 0 15px;
}
.need-help .card-need-help .btn-hubungi-kami {
    background: #005CAA;
    border-radius: 2000px;
    width: 226px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: auto;
}
.need-help .accordion-faq-inner,
.need-help .accordion-faq-inner .card {
    box-shadow: none;
    width: 100%;
}
.need-help .accordion-faq-inner .card {
    border-top: 1px solid #D0D6DB;
    border-radius: 0;
    margin: 0;
}
.need-help .accordion-faq-inner .card .card-header,
.need-help .accordion-faq-inner .card .card-body {
    padding-left: 0;
    padding-right: 0;
}

/* Footer */

.footer {
    position: relative;
    z-index: 10;
    padding: 50px 0;
    background-color: #031120;
}
.mt-16 {
    margin-top: 16px !important;
}
.footer .logo-footer {
    display: block;
    margin-bottom: 40px;
}
.footer .footer-header,
.footer .footer-text-group p,
.footer .footer-icon-link span,
.footer .footer-link,
.footer .footer-subscribe p,
.footer .footer-subscribe p a,
.footer .footer-copy p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 10px;
}
.footer .footer-icon-link {
    padding: 16px 0;
    display: block;
    text-decoration: none;
}
.footer .footer-subscribe {
    margin-top: 40px;
}
.footer .underline,
.footer .footer-subscribe p a {
    text-decoration: underline;
    color: #fff;
}
.footer form input {
    width: 100%;
    padding: 16px 0 12px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    margin: 10px 0;
    color: #fff;
}
.footer-copyright {
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}
.footer-copyright .footer-copy {
    display: flex;
    align-items: center;
}
.footer-copyright .footer-copy p {
    padding-left: 15px;
    padding-top: 8px;
}
.footer-copyright .line {
    margin: 0 10px;
    color: #fff;
}


@media(max-width: 991px) {
    .navbar .navbar-nav {
        margin: 0;
        justify-content: center;
    }
    .navbar .navbar-nav .nav-links-group {
        flex-direction: column;
    }
    .navbar .navbar-nav .nav-links-group .nav-link {
        margin: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav .navbar-right {
        flex-direction: column;
    }
    .navbar .navbar-nav .navbar-right .nav-item {
        margin: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav .navbar-right .lang-switch {
        padding: 3px !important;
        margin: 10px 0;
    }
    .navbar .navbar-nav .navbar-right .nav-item.nav-menu {
        display: none;
    }
    .navbar .navbar-collapse .navbar-nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        background-color: #031120;
        transform: translateX(-100px);
        transition: .4s all ease-in-out;
    }
    .navbar .navbar-collapse.show .navbar-nav {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    .navbar-nav .logo-white {
        position: fixed;
        top: 30px;
        left: 20px;
    }
    .navbar-nav .navbar-toggler {
        position: fixed;
        top: 30px;
        right: 20px;
    }
    .navbar-nav .navbar-toggler .icon-close:before, .navbar-nav .navbar-toggler .icon-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 22px;
        width: 2px;
        background-color: #fff;
    }
    .navbar-nav .navbar-toggler .icon-close::before {
        transform: rotate(45deg);
    }.navbar-nav .navbar-toggler .icon-close::after {
        transform: rotate(-45deg);
    }
    .navbar .navbar-nav .nav-links-group .nav-link {
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero .hero-left {
        padding-bottom: 20px;
    }
    .hero .hero-image .primary {
        margin: 40px 0 0;
        display: block;
        max-width: 600px;
    }
    .feature .row-feature {
        justify-content: center;
    }
    .feature .row-feature .card-feature {
        margin-bottom: 80px;
        min-height: 215px;
    }
    .refundable .nav-tab-refundable .nav-tabs .nav-link {
        width: 25%;
        text-align: center;
    }
}

@media(max-width: 767px) {
    .container.static {
        /* z-index: 1 !important; */
        position: static !important;
    }
    .refundable {
        margin-top: 0;
    }
    .refundable .eclipse,
    .refundable .wave {
        display: none;
    }
    .refundable .nav-tab-refundable {
        display: none;
    }
    .refundable .tab-refundable .tab-pane {
        display: none;
    }
    .refundable .tab-refundable .tab-pane.show.active {
        display: block;
    }
    .refundable .dropdown-refundable {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(57, 79, 136, 0.1);
        border-radius: 1000px;
        padding: 20px 30px;
        margin: 40px 0 20px;
        position: relative;
        cursor: pointer;
    }
    .refundable .dropdown-refundable span {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #121212;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu {
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(57, 79, 136, 0.1);
        border-radius: 40px;
        padding: 10px 20px;
        transition: .3s all ease-in-out;
        z-index: 99;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu.show {
        /* display: block; */
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu span {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #121212;
        opacity: 0.7;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background-color: #fff !important;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu span:last-child {
        border-bottom: none;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu span:hover {
        font-weight: 700;
        color: #005CAA;
        opacity: 1;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu span.active {
        display: none;
        border-bottom: none;
    }
    .refundable .dropdown-refundable .dropdown-refundable-menu span.menu-4.active ~ .refundable .dropdown-refundable .dropdown-refundable-menu span.menu-3 {
        border-bottom: none;
    }
    .refundable .tab-refundable .accordion .card .card-header h2, 
    .need-help .accordion .card .card-header h2 {
        max-width: 90%;
    }
    .refundable .tab-refundable .card-small-tab-1 {
        flex-direction: column;
        align-items: center;
    }
    .refundable .tab-refundable .card-small-tab-1 .text {
        margin: 20px 0 0 0;
        text-align: center;
    }
    .refundable .tab-refundable .card-get-product {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    .refundable .tab-refundable .card-get-product .text {
        margin: 20px 0 30px;
        text-align: center;
    }
    .refundable .tab-refundable .card-get-product .text,
    .refundable .tab-refundable .card-get-product .btn-get-product {
        margin-left: 0;
    }
    .refundable .tab-refundable .card-get-product .btn-get-product {
        width: 100%;
    }
}

@media(max-width: 575px) {
    .top-blur {
        top: 100px;
        right: -300px;
    }
    .navbar-nav .logo-white,
    .navbar .navbar-brand img {
        width: 72px;
    }
    .hero {
        margin-top: 0;
    }
    .hero .hero-left {
        padding-top: 50px;
    }
    .hero-left h4 {
        font-size: 14px;
        line-height: 130%;
    }
    .hero-left h1 {
        font-size: 36px;
        line-height: 130%;
    }
    .hero-left .btn-hero {
        width: 100%;
    }
    .hero .hero-image .dots {
        top: 100px;
        right: -10px;
        width: 100px;
    }
    .hero .hero-image .wave {
        width: 75px;
        bottom: 0;
        left: 20px;
    }
    .section-title {
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 20px;
    }
    .section-subtitle {
        line-height: 26px;
    }
    .feature .rect-1,
    .feature .rect-2,
    .feature .dots {
        display: none;
    }
    .feature .wave {
        left: -20px;
        bottom: 0;
    }
    .feature .row-feature {
        margin-top: 120px;
    }
    .feature .row-feature .card-feature {
        padding: 75px 30px 35px;
        min-height: 195px;
    }
    .feature .row-feature .card-feature h3 {
        font-size: 20px;
        line-height: 120%;
    }

    .refundable .tab-refundable .accordion .card .card-header {
        padding: 20px;
    }
    .refundable .tab-refundable .accordion .card .card-body {
        padding: 0 20px 20px;
    }
    .refundable .tab-refundable .accordion .card .card-header h2, 
    .need-help .accordion .card .card-header h2 {
        max-width: 85%;
    }
    .refundable .tab-refundable .accordion .card .card-body .table-biaya thead tr th:first-child {
        width: 210px !important;
    }

    /* .need-help .wave,
    .need-help .wave-2 {
        display: none;
    } */
    .need-help .background {
        bottom: 0;
    }
    .need-help .wave {
        top: -20px;
        right: -20px;
    }
    .need-help .wave-2 {
        width: 90px;
        top: 440px;
        left: -40px;
    }
    .need-help .wave-3 {
        position: absolute;
        width: 90px;
        top: 1650px;
        left: -40px;
    }
    .need-help .rect {
        width: 34px;
        right: -10px;
        top: 880px;
    }
    .need-help .accordion .card .card-header {
        padding: 30px 20px;
    }
    .need-help .accordion .card .card-body {
        padding: 0 20px 30px;
    }
    .need-help .accordion-faq .card .card-header,
    .need-help .card-need-help {
        flex-direction: column;
        justify-content: center;
    }
    .need-help .accordion-faq-inner .card .card-header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
    .need-help .accordion-faq-inner .card .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .need-help .accordion-faq .card .card-header .left {
        flex-direction: column;
    }
    .need-help .accordion-faq .card .card-header .left h2 {
        margin: 20px 0 0;
        text-align: center;
        max-width: 100%;
    }
    .need-help .accordion .card .card-header .btn-expand-faq {
        margin-top: 30px;
        margin-left: 0;
    }
    .need-help .card-need-help h4 {
        margin: 20px 0 30px;
    }
    .need-help .card-need-help .btn-hubungi-kami {
        margin-left: 0;
    }

    .footer-text-group {
        margin-bottom: 30px;
    }
    .footer .footer-subscribe {
        margin-top: 60px;
    }
    .footer-copyright {
        border: none;
        padding-top: 0;
    }
    .footer-copyright .row {
        flex-direction: column-reverse;
    }
    .footer-copyright .tnc-group {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .footer-copyright .tnc-group .footer-link {
        font-size: 14px;
        margin: 0;
    }
    .footer-copyright .footer-copy {
        margin-bottom: 20px;
    }
    .footer-copyright .footer-copy img {
        max-width: 95px;
    }
    .footer-copyright .footer-copy p {
        font-size: 12px;
    }
}